*{
    margin:0;
    padding:0;
   box-sizing: border-box;
    color:#000000;
  }
  body {
    text-align: justify;
    color: black;
    font-size: 16px;
  }
  
    /* Estilos cabecera */
    
  .container{
    margin: auto;
    max-width:1200px;
    padding: 0 20px;
    justify-content:space-between;
  }
  .img{
   background-image: url(fotos/texturaazul.avif);
   background-size:cover;
   background-repeat:no-repeat;
   padding: 40px 0 100px;
   background-attachment: fixed;
  }
  .header{
    display:flex;
    justify-content:space-between;
    align-items:center;
  }
  a{
    color:rgb(0, 0, 0);
    font-weight:700;
    font-size:15px;
    font-family:Sans-serif;
    text-decoration:none;
    margin-bottom:70px;
  
  }
  
  .title2{
    color:white;
    font-family:'Quicksand',sans-serif;
    font-size:40px;
    font-weight:bold;
  }
  .introduce{
   color:#ffffffb3;
   font-family:'Quicksand',sans-serif;
   line-height: 1.5;
   font-size:17px;
  
  }
  
  
  .portada {
  width: 1200px;
  height: auto;
  margin-right: auto; 
  margin-left: auto; 
  }
  
  .logo{
  width: 400px;
  height: auto;
  }
  
    /* Estilos barra de navegación */
    nav a{
      color: black;
      font-family:'Quicksand',sans-serif;
    }
  nav ul {
    background-color: #0078D4;
    overflow: hidden;
    color:black;
    padding: 0;
    text-align: center;
    margin:0;
  }
  
  nav ul li {
    display:inline-block;
    padding: 20px;
    
  }
  
  nav ul li:hover {
    background-color: #084574;
  }
    /* Estilos artículo principal */
    
       .page3-box{
         display:flex;
         flex-wrap:wrap;
         align-items:center;
         padding: 20px 0;
       }
       .page3-img{
        max-width:540px;
       width:100%;
       
         
       }
       .information{
       flex:1;
         padding-left:70px;
       }
  
       .info-title{
         font-family:'Quicksand',sans-serif;
         font-size:30px;
         font-weight:bold;
       
       }
       .info-all{
         color:black;
         margin-bottom:20px;
         line-height:1.4;
         font-size:17px;
       }
    article{
      background-image: url('fotos/texturablanca.avif');
    }
    
  .articulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family:'Quicksand',sans-serif;
  }
  
  article img{
    box-shadow: 10px 10px 5px #676767;
    width: 750px;
    height: auto;
  }
  
  .chill-img {
    width: 100%;
    height: 100%;
  }
  .song {
    text-decoration: none;
    width: 30%;
    position: relative;
    margin-right: 50px;
    margin-left: 50px;
    background-color: black;
    transition: 0.4s;
  }
  
  .content {
    position: absolute;
    top: 20%;
    text-align: center;
    color: black;
    padding: 50px;
    font-weight: bold;
    font-size: 25px;
  }
  .song-type {
    align-items: center;
    display: flex;
  }
  
  .song-img{
    transition: .3s;
    height: 400px;
  }
  
  .song:hover .song-img {
    height:500px;
    box-shadow: 0px 5px 5px 5px grey;
  }
  
  .codes{
     display:flex;
    margin:auto;
    align-items:center;
  
  }
  
  .chill-img:hover{
     height:100%;
    box-shadow: 0px 5px 5px 5px grey;
  }
  
  .last > img {
    width: 200px;
    height:240px;
    border-radius:50%;
    background-size:cover;
  }
  .h3{
  
    align-items:center;
    text-align:center;
    display:flex;
    flex-direction:column;
    padding:0 30px;
  }  
    /* Estilos barra lateral */
    aside {
      width: 20%;
      height: auto;
      border: 0px solid;
      border-radius: 30px;
      background-color: #BDBBBF;
      float: right;
      padding: 1em 2em;
    }  
    aside img {
      width: 100%;
      height: auto;
    }
    /* Estilos pie de página */
  footer {
    background-image: url('fotos/texturaazul.avif');
    background-color: #0078D4;
    color: black;
    padding: 10px 0;
    font-family:'Quicksand',sans-serif;
  }
  
  footer img {
    max-width: 18px; /* Ajusta ancho máximo */
    max-height: 18px; /* Ajusta alto máximo  */
  }
  .container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footercolumna {
    flex-basis: 33%;
  }
  
  .footercolumna h4 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .footercolumna ul {
    list-style: none;
    padding: 0;
  }
  
  .footercolumna li {
    margin-bottom: 10px;
  }
  
  .footercolumna a {
    color: black;
    text-decoration: none;
  }
  
  .footercolumna a:hover {
    text-decoration: underline;
  }
  